#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [4]:

# A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

# SQL :-
#  -SQL databases are relational.
#  -It use structured query language (SQL) and have a predefined schema. 
#  -SQL databases are vertically scalable.

# NoSQL:-
#  -NoSQL databases are non-relational. 
#  -It have dynamic schemas for unstructured data.
#  -NoSQL databases are horizontally scalable.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [5]:
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
#    DDL statements are similar to a computer programming language for defining data structures, especially database schemas.

In [6]:
# DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
#  These commands are used to create or modify the tables in SQL.

In [ ]:
# CREATE :-The CREATE TABLE command creates a new table in the database.
#example
CREATE TABLE TestTable AS
SELECT customername, contactname
FROM customers;

In [ ]:
# ALTER :- The ALTER TABLE command adds, deletes, or modifies columns in a table.
# example
ALTER TABLE Customers
ADD Email varchar(255);

In [ ]:
# TRUNCATE :- The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
# example
TRUNCATE TABLE Categories;

In [ ]:
# DROP :- The DROP TABLE command deletes a table in the database.
#example
DROP TABLE Shippers;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [9]:
# A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), 
#        and alter (update) data in a database. 
# A DML is typically a sublanguage of a larger database language like SQL.

In [ ]:
# INSERT Command :- This command is used to enter the information or values into a row.
# example
INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
VALUES ('1', 'Ansh', 'Kanpur');

In [ ]:
# UPDATE Command :- This command is used to alter existing table records.
# example
UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini';

In [ ]:
# DELETE Command :- It deletes all archives from a table.
# example
DELETE FROM students
WHERE stu_id = '001';

#### Q4. What is DQL? Explain SELECT with an example.

In [11]:
# DQL (data query language) is a portion of a SQL statement that allows you to get and organise data from a database.

In [ ]:
# SELECT: It is used to retrieve data from the database.
# example
SELECT CustomerName FROM Customer where Age = '21';

#### Q5. Explain Primary Key and Foreign Key.

In [13]:
# Primary Key :-
# -A primary key is used to ensure data in the specific column is unique.
# -It does not allow NULL values.

# Foreign Key# -
# -A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
# -It can also contain NULL values.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# a python code to connect MySQL to python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

In [15]:
# cursor():- 
#         it  helps to execute the query and fetch the records from the database.

# execute() :-
#       This method accepts a MySQL query as a parameter and executes the given query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In [16]:
# The order of execution of an SQL queryâ€™s clauses is as follows:-

# 1-	FROM :-Tables are joined to get the base data.
# 2-	WHERE :- The base data is filtered.
# 3-	GROUP BY :-	The filtered base data is grouped.
# 4-	HAVING :- The grouped base data is filtered.
# 5-	SELECT :- The final data is returned.
# 6-	ORDER BY :-	The final data is sorted.
# 7-	LIMIT :- The returned data is limited to row count.